<h2>{{title}}</h2>
<form name="addForm" ng-submit="submit()">
	<div class="form-group">
		<label class="control-label">Name:</label>
		<div>
			<input id="name" type="text" placeholder="Name goes here" ng-model="game.name" class="form-control" required ng-change="hideFeedback()" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Price:</label>
		<div>
			<input type="number" placeholder="Price goes here" ng-model="game.price" class="form-control" required />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Year:</label>
		<div>
			<input type="number" placeholder="Year goes here" ng-model="game.year" class="form-control" required min="1950" max="2012" />
		</div>
	</div>
	<div class="form-group">
		<div>
			<button id="submit" type="submit" class="btn btn-default" ng-disabled="addForm.$invalid">{{buttonText}}</button>
			<a href="#/">
				<button type="button" class="btn btn-default">List</button>
			</a>
		</div>
	</div>
	<div class="feedback">
		<div ng-show="success"><a href="#/game/{{game.name}}">{{game.name}}</a> ble lagret.</div>
		<div ng-show="error" class="error"><b>{{game.name}}</b> ble ikke lagret. Er det allerede en med samme navn?</div>
	</div>
</form>
